<!DOCTYPE html>
<html>
  <head>
    <title>Seed</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/112dd0d472.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.png' %>
    <%if current_user%>
      <script>
        window.currentUser = {
          "id": <%= current_user.id%>,
          "name": "<%= current_user.name%>",
          "email": "<%= current_user.email%>"
        };
      </script>
    <%end%>
    <meta property="og:title" content="Seed Bed" />
     <meta property='og:image' content="<%= image_url('Screen Shot 2021-11-11 at 9.39.53 PM.png') %>"/>
     <meta property="og:description"
       content="SeedBed is a Kickstarter clone where users can sow seeds and investors and fertilize them through various growth stages. Each Seed is represented as a project and can be backed for rewards.

SeedBed is a full stack app with Ruby on Rails/PostgreSQL backend and Javascript React/Redux frontend.

Javascript, React, Redux, Ruby on Rails, PostgreSQL, webpack, jbuilder, SCSS, Heroku, Ajax"
     />
     <meta property="og:url"
       content="https://seedbed.herokuapp.com/"
     />
     <meta name="author" content="Daniel Bradley">


  </head>

  <body>
    <%= yield %>
  </body>
</html>
